@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Asset&display=swap"); /* eksempel på font URL */

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, caramellatte;
}

@theme {
  /* Her tilføjes theme variable // tokens */
  --font-asset: "Asset", serif; /*eksempel på font*/
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
