---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
<!-- start på overskrift -->
<section class="container mx-auto  m-sectiontop px-4 pt-20"> 
    <h1 class="text-8xl font-normal font-serif m-sectionheading">Komponent bibliotek</h1> 
    <h1 class="text-3xl m-sectionheading"></h1> 
    <div class="font-normal font-serif pt-5">
    <p>Komponent bibliotek til projekt Höjskolendk</p> 
    <p>Komponent biblioteket samler de komponenter, der anvendes på sitet (på nær header/navbar og footer).</p> 
    </div>
    <hr class="mt-20 border-accent"> 
</section>
<!-- slut på overskrift -->

       <!-- start på typografi -->
<section class="container mx-auto m-sectiontop px-4 pt-20">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Typografi</Heading>
    <Heading htmlheading="h1" size="xlarge">H1 xlarge</Heading>
    <Heading htmlheading="h2" size="large">H2 large</Heading>
    <Heading htmlheading="h3" size="mediumbold">H3 medium</Heading>
    <Heading htmlheading="h3" size="medium">H3 medium</Heading>
    <Heading htmlheading="h6" size="smallbold">H6 small bold</Heading>
    <Heading htmlheading="h6" size="small">H6 small</Heading>
    <div class="font-normal font-serif">
    <p>Og her en sektion brødtekst</p>
    </div>
    <hr class="mt-20 border-accent">
</section>
<!-- slut på typografi -->

<!-- start på links -->
<section class="container mx-auto m-sectiontop px-4 pt-20">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Links</Heading>
    <p><Link href="#">Default link</Link></p>
    <div class="pt-5">
    <p><Link href="#" variant="primary" size="small">Variant primary</Link></p>
    </div>
    <hr class="mt-20 border-accent">
</section>
<!-- slut på links -->

<!-- start på buttons -->
<section class="container mx-auto m-sectiontop px-4 pt-20">
    <Heading htmlheading="h2" size="large" stylingclasses="m-sectionheading">Buttons</Heading>
    <div class="pt-5">
    <p><Button>Default knap</Button></p>
    </div>
    <div class="pt-5">
     <p><Button variant="primary" size="small">Variant primary</Button></p>
    </div>
    <hr class="mt-20 border-accent">
</section>
<!-- slut på buttons -->

<!-- start på cards -->
<section class="container mx-auto m-sectiontop px-4 pt-20 pb-20"> 
     <div class="pt-5">
     <div class="card rounded-4xl bg-base-100 w-90 shadow-sm @container">
  <figure class="relative px-10 pt-10">
 <a href="#"> 
  <img class="rounded-4xl h-90 hover:scale-95 duration-300 ease-in-out" 
      src="20230326_224852_37C325.webp" alt="Maldiverne"/>
      </a> 
  </figure>
  <div class="card-body">
    <Heading htmlheading="h2" size="medium" stylingclasses="card-title">Maldiverne, Sri Lanka, Bali, Gili Island, Japan & Australien</Heading>
    <Heading htmlheading="h2" size="smallbold" stylingclasses="card-tekst">Varighed:</Heading>
    <Heading htmlheading="h2" size="small" stylingclasses="card-tekst2">3 måneder</Heading>
    <Heading htmlheading="h2" size="smallbold" stylingclasses="card-tekst3">Pris:</Heading>
    <Heading htmlheading="h2" size="small" stylingclasses="card-tekst4">89.900.-</Heading>
   
    <div class="card-actions justify-end">
    <Link href="#" variant="primary">Læs mere! →</Link>
  </div>
  </div>
</div>
     </div>
 <div class="pt-5">
<div class="card w-96 bg-orange-50 card-md shadow-xl">
  <div class="card-body hover:scale-110 duration-300 ease-in-out">
    <Heading htmlheading="h2" size="smallbold" stylingclasses="card-title">Jakob Søgaard Skjold</Heading>
    <div class="rating">
      {
        Array.from({ length: 5 }, (_, i) => (
          <div 
            class={`mask mask-star ${i < 4 ? 'bg-orange-500' : 'bg-orange-900'}`} 
            aria-label={`${i + 1} star`}
            aria-current={i + 1 === 4 ? "true" : undefined}
          ></div>
        ))
      }
    </div>
    <p class="text-sm md:text-sm leading-relaxed tracking-normal">
  Den bedste beslutning jeg nogensinde har taget. Kæmpe stor anbefaling!! Det har givet mig en masse mod og lyst til at rejse.
</p>
  </div>
</div>
</div>
<div class="pt-5">
<div class="card w-96 bg-orange-200 card-md shadow-sm">
  <div class="grid grid-cols-3 items-center px-6 pt-6 gap-4">
  <Heading htmlheading="h2" size="smallbold" stylingclasses="card-title col-span-2 justify-self-start">Vilde naturoplevelser</Heading>
  <img 
    class="w-10 h-10 justify-self-end object-contain col-span-1" 
    src="bjerg.png"
    alt="bjerg"
  />
</div>


  <!-- Card content -->
  <div class="card-body hover:scale-110 duration-300 ease-in-out">
    <p class="text-sm md:text-sm leading-relaxed tracking-normal font-normal font-serif">
      Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne og lærer en hel masse om samarbejde, relationer, fællesskab, konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring på cv’et, men også et væld af brugbare redskaber til studie eller karriere.
    
    </p>
  </div>
</div>
</div>
</section>
<!-- slut på cards -->

</MainLayout>