---
---
<!-- Navbar (initially visible) -->
<div id="navbar" class="navbar absolute w-full z-50 ">
  <div class="flex-1">
    <a href="/">
      <img src="/logo.png" alt="samarbejdspartner logo" width="200" height="200" />
    </a>
  </div>
  <div class="flex-none text-orange-50">
    <ul class="menu-horizontal px-4 flex space-x-4">
      <li><a href="/destinationer" class="hover:underline">Destinationer</a></li>
      <li><a href="/infomoder" class="hover:underline">Infomøder</a></li>
      <li><a href="/anmeldelser" class="hover:underline">Anmeldelser</a></li>
    </ul>
  </div>
</div>

